.social-link-container {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0.5rem;
    border-radius: 50px;
    flex-direction: column;
    gap: 10px;
    border: 2px solid var(--primary-white);
    box-shadow: var(--shadow-1);
    position: fixed;
    top: 30vh;
    right: 1.5rem;
    /* border-top-color: var(--primary-dk-blue); */
}

.social-link {
    padding: 0.3rem;
    display: grid;
    place-items: center;
    border-radius: 10px;
}

.social-link-img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    transition: var(--transition);
}

.social-link-img:hover {
    filter: var(--drop-shadow);
}