.nav {
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
}

.nav-center {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.logo-title {
    transition: all 0.2s ease-in-out;
    color: var(--primary-white);
    text-shadow: var(--text-shadow-5);
    transition: all 0.3s ease-in-out;
}

.logo-title:hover {
    text-shadow: var(--text-shadow-8);
    color: #b5dae6;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.nav-link {
    color: var(--primary-white);
    padding: 0.25rem 0.5rem;
    font-size: 1.25rem;
    text-shadow: var(--text-shadow-5);
    transition: var(--transition);
}

.nav-link:hover {
    background-color: #9dc0cc20;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    text-decoration: underline;
    text-shadow: var(--text-shadow-15);
}

@media screen and (max-width: 772px) {
    .logo-title {
        font-size: 1.2rem;
    }

    /* 
    .nav-center {
        flex-direction: column;
        align-items: center;
    } */

    .nav-links {
        display: none;
    }
}

/* 
===================
Vertical Navbar
===================
*/
.v-nav {
    width: 4.5rem;
    height: 100vh;
    box-shadow: var(--shadow-1);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 0.3rem;
    align-items: center;
    background-color: var(--primary-vnav-blue);
    position: fixed;
    top: 0;
    left: -10%;
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

.v-nav.active {
    opacity: 1;
    visibility: visible;
    left: 0;
}

.vnav-logo {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.v-nav-links {
    display: grid;
    gap: 2rem;
}

.v-icon-img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    transition: var(--transition);
}

.v-icon-img:hover {
    filter: drop-shadow(0 0 5px #99d5ea);
}