.title-container {
    width: 100%;
    display: flex;
    align-items: center;
}

.title {
    color: var(--primary-white);
    font-size: 2rem;
    font-weight: 500;
}

.title-underline {
    background: var(--primary-white);
    width: 0.25rem;
    height: 3rem;
    box-shadow: var(--shadow-1);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right: 1rem;
}
