/* 
=============
Home
=============
*/
.hero {
    width: 100%;
    height: calc(100vh - 6rem);
    display: flex;
    justify-content: center;
}

.hello-text {
    width: auto;
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    color: var(--primary-white);
    user-select: none;
}

.hero-content {
    user-select: none;
    cursor: var(--default-cursor);
    text-transform: capitalize;
    width: 70%;
    margin: auto;
    /* font-weight: bold; */
    font-size: 1.4rem;
    text-align: center;
    color: var(--primary-grey);
    line-height: 1.8;
}

.job-role {
    color: var(--primary-white);
    padding: 0.3rem 0.7rem;
    border-radius: var(--borderRadius);
}

@media screen and (max-width: 772px) {
    .hero {
        height: 100vh;
        width: 100%;
    }

    .hello-text {
        margin-top: 5rem;
        width: 100%;
        font-size: 2rem;
    }

    .hero-content {
        width: 100%;
        font-size: 1rem;
    }
}

.hello-tex::after {
    content: '|';
    /* Initial cursor */
    display: inline-block;
    animation: typing 1s steps(1, end) infinite, blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #000;
        /* Color of the cursor */
    }
}


/* 
=============
About
=============
*/
.about {
    width: 100%;
    /* border: 1px solid var(--primary-white); */
}

.resume-icon {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 1.6rem;
    left: 28%;
    padding: 0.5rem;
    display: grid;
    place-items: center;
    border: 2px solid var(--primary-white);
    border-radius: 50%;
    transition: var(--transition);
}

.resume-icon:hover {
    box-shadow: var(--shadow-1);
}

.resume-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--transition);
}

.resume-img:hover {
    filter: var(--drop-shadow);
}

.about-container {
    /* border: 1px solid; */
    width: 100%;
    padding: 1rem;
    display: flex;
    gap: 2rem;
}

.about-info {
    /* border: 1px solid; */
    width: 45%;
}

.info-para {
    width: 100%;
    line-height: 1.8;
}

.skills-container {
    /* border: 1px solid; */
    width: 55%;
    display: grid;
    gap: 1rem;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.skill {
    width: 130px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: var(--hover-bg-color);
    transition: var(--transition);
}

.skill:hover {
    transform: scale(1.01);
    box-shadow: var(--shadow-1);
    border: 2px solid var(--primary-white);
    padding: 1rem;
}

.skill-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 0.5rem;
    object-fit: contain;
}

.skill-title {
    font-weight: 500;
    text-align: center;
    user-select: none;
    cursor: var(--default-cursor);
}


/* 
=============
Projects
=============
*/

/* 
=============
Contact
=============
*/