/* 
=============
Home
=============
*/
.hero {
    width: 100%;
    height: calc(100vh - 7rem);
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.hello-text {
    width: auto;
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    color: var(--primary-white);
    user-select: none;
}

.hero-content {
    user-select: none;
    cursor: var(--default-cursor);
    text-transform: capitalize;
    width: 70%;
    margin: auto;
    /* font-weight: bold; */
    font-size: 1.4rem;
    text-align: center;
    color: var(--primary-grey);
    line-height: 1.8;
}

.job-role {
    color: var(--primary-white);
    padding: 0.3rem 0.7rem;
    border-radius: var(--borderRadius);
}

@media screen and (max-width: 772px) {
    .hero {
        height: 100vh;
        width: 100%;
    }

    .hello-text {
        margin-top: 5rem;
        width: 100%;
        font-size: 2rem;
    }

    .hero-content {
        width: 100%;
        font-size: 1rem;
    }
}

.hello-tex::after {
    content: '|';
    /* Initial cursor */
    display: inline-block;
    animation: typing 1s steps(1, end) infinite, blink-caret 0.75s step-end infinite;
}

.scroll-down {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.scroll-down-icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: var(--drop-shadow);
}



/* 
=============
About
=============
*/
.about {
    width: 100%;
}

.resume-icon {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 1.6rem;
    left: 28%;
    padding: 0.5rem;
    display: grid;
    place-items: center;
    border: 2px solid var(--primary-white);
    border-radius: 50%;
    box-shadow: var(--shadow-1);
    transition: var(--transition);
    animation: scaleAnimation 2s infinite;
}

.resume-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--transition);
}

.resume-img:hover {
    filter: var(--drop-shadow);
}

@keyframes scaleAnimation {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
        /* Scale up */
    }
}

.arrow-icon {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -2%;
    left: 32%;
    filter: var(--drop-shadow);
    padding: 0.5rem;
    display: grid;
    place-items: center;
    transition: var(--transition);
}

.arrow-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: rotate(180deg);
}

.about-container {
    /* border: 1px solid; */
    width: 100%;
    padding: 1rem;
    display: flex;
    gap: 2rem;
}

.about-info {
    /* border: 1px solid; */
    width: 45%;
}

.info-para {
    width: 100%;
    line-height: 1.8;
}

.skills-container {
    /* border: 1px solid; */
    width: 55%;
    display: grid;
    gap: 1rem;
    place-items: center;
    justify-content: start;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.skill {
    width: 130px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border-top: 2px solid var(--hover-bg-color);
    /* border-left: 2px solid var(--hover-bg-color); */
    background-color: var(--hover-bg-color);
    transition: var(--transition);
}

.skill:hover {
    transform: scale(1.01);
    box-shadow: var(--shadow-1);
    border: 2px solid var(--primary-white);
    padding: 1rem;
}

.skill-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 0.5rem;
    object-fit: contain;
}

.skill-title {
    font-weight: 500;
    text-align: center;
    user-select: none;
    cursor: var(--default-cursor);
}


/* 
=============
Projects
=============
*/
.projects {
    width: 100%;
}

.projects-container {
    width: 100%;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.project-container {
    width: 100%;
    /* height: 375px; */
    padding: 2rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    border-radius: 15px;
    border: 2px solid #00000000;
    border-top: 2px solid var(--hover-bg-color);
    border-bottom: 2px solid var(--hover-bg-color);

    transition: var(--transition);
}

.project-container:hover {
    background: var(--hover-bg-color-2);
    transform: scale(1.01);
    border: 2px solid var(--primary-white);
    box-shadow: var(--shadow-1);
}

.project-info {
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    gap: 2rem;
}

.project-info .info-box {
    width: 100%;
}

.project-title {
    font-size: 1.3rem;
    color: var(--primary-white);
    transition: var(--transition);
    display: flex;
    align-items: start;
}

.project-title .p-title {
    width: 100%; 
}

.project-container:hover .project-title {
    text-shadow: var(--text-shadow-5);
    text-decoration: underline;
}

.github-link {
    width: 5%;
    display: inline-block;
    margin-left: 1rem;
}

.github-icon {
    width: 24px;
    height: 24px;
    object-fit: cover;
}

.period {
    width: max-content;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0.5rem;
    border: 2px solid var(--hover-bg-color-2);
    border-radius: 10px;
    background-color: var(--hover-bg-color);
}

.img-container {
    border: 2px solid var(--hover-bg-color-2);
    width: 80%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    transition: var(--transition);
}

.website-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--transition);
}
/* 
.project-container:hover .img-container {
    box-shadow: var(--shadow-1);
    border: 2px solid var(--primary-white);
} */

.project-desc {
    margin-bottom: 1.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.5;
}

.tech-container {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.75rem;
}

.tech-stack {
    font-size: 0.8rem;
    color: var(--primary-white);
    border-radius: 10px;
    border: 2px solid var(--hover-bg-color-2);
    background: var(--hover-bg-color);
    padding: 0.5rem;
}


/* 
=============
Contact
=============
*/

.contact {
    width: 100%;
}

.contact-container {
    /* border: 1px solid; */
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.contact-form-container {
    width: 70%;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #00000000;
    border-top: 2px solid var(--hover-bg-color);
    /* border-left: 2px solid var(--hover-bg-color); */
    border-radius: 10px;
    background-color: var(--hover-bg-color-2);    
    transition: var(--transition);
}

.contact-form-container:hover {
    border: 2px solid;
    box-shadow: var(--shadow-1);
}

.contact-form-container:hover .contact-title {
    text-shadow: var(--text-shadow-5);
}

.contact-title {
    width: 100%;
    border-bottom: 2px solid var(--hover-bg-color);
    text-align: center;
    padding-bottom: 1rem;
    color: var(--primary-white);
    transition: var(--transition);
}

.contact-desc {
    font-size: 0.9rem;
    color: var(--primary-white);
}

.contact-form {
    width: 68%;
    margin: auto;
    font-weight: bold;
    /* border: 1px solid; */
}

input {
    width: 49%;
    height: 100%;
    padding: 0.6rem 0;
    background: transparent;
    border: none;
    font-family: inherit;
    color: var(--primary-grey);
    outline: none;
    color: var(--primary-white);
    caret-color: var(--primary-white);
}

input::placeholder {
    color: var(--primary-grey);
}

input:focus .arrow-right {
    filter: var(--drop-shadow);
}
